.detalle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.detailbtn {
    background-color: rgb(38, 25, 153);
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}